<h1>THANK YOU FOR VOLUNTEERING!</h1>
</p>
The Edmonton International Fringe Theatre Festival is an 11 day celebration of live theatre, connecting artists and audiences through entertaining and provocative experiences. This year’s festival welcomes more than 215 plays and 60 street performers to participate on 11 indoor stages, 2 outdoor stages, and a variety of  independent venues, which are also known as “Bring You Own Venue” (or BYOVs). This year we will have 41 venues in all.  The Fringe provides all artists, both emerging and established, with the opportunity to produce and present their work no matter the content, form or style. Companies are selected in an unjuried, uncensored manner. Artists pay a flat fee to be a part of the Festival and then receive 100% of the revenue generated from ticket sales to their shows.  As a volunteer, while on shift we ask that you do not express your opinion about any performances you may have seen. If you are asked your thoughts on a show, feel free to tell a patron that “there’s something for everyone!” or tell them about the amazing job our local papers are doing                           covering and reviewing shows.

<h2><u>Volunteer Code of Conduct</u></h2>
<ul>
    <li>All Volunteers shall make every effort to represent the Fringe Theatre Festival and FTA in a positive manner.</li>
    <li>Volunteers shall treat all other Volunteers, Team Leaders, performers, staff and patrons with respect. If a problem arises, it should be brought to the attention of Volunteer Management.</li>
    <li>All Volunteers shall make every effort to fulfill all responsibilities of their team.</li>
    <li>Failure to fulfill shift commitments without satisfactory reason may result in a disciplinary action.</li>
    <li>No Volunteer shall use, for their own advantage, any property or money (including Fringe Bucks) belonging to FTA in an irresponsible manner.</li>
    <li>Volunteers are not permitted to consume any alcoholic beverage while on shift.</li>
    <li>Volunteers are not permitted to use any illegal substance while on shift.</li>
</ul>

<h2><u>Respect and Tolerance</u></h2>
<ul>
    <li>Everyone who participates in our Festival is worthy of respect.</li>
    <li>You have the right to be treated in a patient and courteous manner.</li>
    <li>If, at any point, you feel threatened- physically or otherwise- you should immediately contact security through dispatch.</li>
    <li>If you notice a fellow volunteer being abusive toward anyone, inform a Team Leader immediately.</li>
    <li>If a patron is being abusive toward you, inform your Team Leader immediately.</li>
</ul>

<h2><u>Zero-Tolerance Behaviour</u></h2>
Volunteers who do not adhere to the policies and guidelines of the organization may be subject to dismissal. Possible grounds for dismissal may include, but are not limited to, the following:
<ul>
    <li>Gross misconduct or insubordination</li>
    <li>Being under the influence of alcohol or illicit drugs while on shift</li>
    <li>Theft of property or misuse of organization equipment or materials</li>
    <li>Abuse or mistreatment of patrons or coworkers</li>
    <li>Failure to abide by organization policies, procedures and guidelines</li>
    <li>Failure to satisfactorily perform assigned duties</li>
</ul>

In cases of dishonesty, theft, fraud, violation of company policy or willful misconduct, termination of duties does not require a prior corrective review.

<h2><u>Smoking</u></h2>
Volunteers are not permitted to smoke during their shift

<h2><u>FTA Drug & Alcohol Policy</u></h2>
No staff or volunteer will consume any alcohol or use illegal drugs directly before or during their shift. Volunteers may not serve alcohol to any volunteer or staff who is wearing their respective identification (this includes volunteer badges and/or t-shirt). Should you suspect that a Volunteer or staff member has been drinking or using illegal drugs, please report it immediately to either a Team Leader or Volunteer Management.

<h2><u>Confidentiality</u></h2>
Staff and Volunteers are responsible for maintaining the confidentiality of all proprietary or privileged information to which they are exposed while serving as a Volunteer or staff member; whether this information involves a single member of staff, Volunteer, or other person, or involves the overall business of the organization.
<p/>
<strong>Failure to maintain confidentiality may result in termination of the Volunteer’s relationship with the organization or more severe action.</strong>
<p />
Fringe Theatre Adventures is grateful for the tremendous efforts of its volunteers and strives to make everyone’s festival experience enjoyable.  Following these guidelines will help ensure the safety and enjoyment of all patrons, staff members and volunteers. We appreciate and thank you in advance for your cooperation.
<p />
<strong>Should you require further clarification on any of the above guidelines, please feel free to contact any of the Team Leaders or the Volunteer Hotline <a href="tel:+17804091923">780-409-1923.</a></strong>


