USE [master]
GO
/****** Object:  Database [FVTS]    Script Date: 3/1/2013 9:12:36 PM ******/
CREATE DATABASE [FVTS]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FVTS', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FVTS.mdf' , SIZE = 4096KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'FVTS_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL11.MSSQLSERVER\MSSQL\DATA\FVTS_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FVTS].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FVTS]
GO
/****** Object:  Table [dbo].[Definition]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Definition](
	[definitionId] [int] IDENTITY(1,1) NOT NULL,
	[displayName] [nvarchar](100) NOT NULL,
	[keyName] [nvarchar](100) NOT NULL,
	[keyValue] [nvarchar](512) NOT NULL,
	[keyGroup] [nvarchar](100) NOT NULL,
	[sequence] [int] NULL,
 CONSTRAINT [PK_DEFINITION] PRIMARY KEY CLUSTERED 
(
	[definitionId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[EmergencyContact]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EmergencyContact](
	[contactId] [int] IDENTITY(1,1) NOT NULL,
	[volunteerId] [int] NULL,
	[emergencyFirstName] [nvarchar](50) NOT NULL,
	[emergencyLastName] [nvarchar](50) NOT NULL,
	[relationship] [nvarchar](50) NOT NULL,
	[emergencyPhone] [nvarchar](20) NOT NULL,
	[comment] [nvarchar](2048) NULL,
	[createDate] [date] NULL,
 CONSTRAINT [PK_EMERGENCYCONTACT] PRIMARY KEY CLUSTERED 
(
	[contactId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Location]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Location](
	[locationId] [int] IDENTITY(1,1) NOT NULL,
	[volunteerId] [int] NULL,
	[contactId] [int] NULL,
	[locationType] [nvarchar](50) NULL,
	[address] [nvarchar](100) NULL,
	[city] [nvarchar](100) NULL,
	[province] [nvarchar](100) NULL,
	[postalcode] [nvarchar](100) NULL,
 CONSTRAINT [PK_LOCATION] PRIMARY KEY CLUSTERED 
(
	[locationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[ShiftRecord]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShiftRecord](
	[volunteerId] [int] NULL,
	[recordId] [int] IDENTITY(1,1) NOT NULL,
	[teamName] [nvarchar](100) NULL,
	[startOn] [datetime] NOT NULL,
	[endOn] [datetime] NULL,
	[createOn] [datetime] NOT NULL,
	[createBy] [nvarchar](100) NOT NULL,
	[modifiedOn] [datetime] NOT NULL,
	[modifiedBy] [nvarchar](100) NOT NULL,
	[earnedBucks] [numeric](10, 2) NOT NULL,
	[earnHours] [int] NOT NULL,
 CONSTRAINT [PK_SHIFTRECORD] PRIMARY KEY CLUSTERED 
(
	[recordId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[UserProfile]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserProfile](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[UserName] [nvarchar](56) NOT NULL,
	[Email] [nvarchar](256) NULL,
	[Phone] [nvarchar](20) NULL,
	[FullName] [nvarchar](100) NULL,
	[Administrator] [bit] NULL,
	[Coordinator] [bit] NULL,
 CONSTRAINT [PK__UserProf__1788CC4C46280EDF] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [UQ__UserProf__C9F28456FEFD181A] UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[Volunteer]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Volunteer](
	[volunteerId] [int] IDENTITY(1,1) NOT NULL,
	[constituentCode] [nvarchar](10) NOT NULL,
	[title] [nvarchar](10) NULL,
	[firstName] [nvarchar](50) NOT NULL,
	[lastName] [nvarchar](50) NOT NULL,
	[nickName] [nvarchar](50) NULL,
	[birthday] [date] NULL,
	[status] [nvarchar](20) NULL,
	[gender] [nvarchar](10) NULL,
	[homePhone] [nvarchar](20) NULL,
	[cellPhone] [nvarchar](20) NULL,
	[createOn] [datetime] NOT NULL,
	[createBy] [nvarchar](256) NOT NULL,
	[modifiedOn] [datetime] NOT NULL,
	[modifiedBy] [nvarchar](256) NULL,
	[activatedOn] [datetime] NULL,
	[deactivatedOn] [datetime] NULL,
	[note] [nvarchar](4000) NULL,
	[token] [nvarchar](100) NULL,
	[email] [nvarchar](256) NULL,
 CONSTRAINT [PK_VOLUNTEER] PRIMARY KEY CLUSTERED 
(
	[volunteerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Membership]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Membership](
	[UserId] [int] NOT NULL,
	[CreateDate] [datetime] NULL,
	[ConfirmationToken] [nvarchar](128) NULL,
	[IsConfirmed] [bit] NULL,
	[LastPasswordFailureDate] [datetime] NULL,
	[PasswordFailuresSinceLastSuccess] [int] NOT NULL,
	[Password] [nvarchar](128) NOT NULL,
	[PasswordChangedDate] [datetime] NULL,
	[PasswordSalt] [nvarchar](128) NOT NULL,
	[PasswordVerificationToken] [nvarchar](128) NULL,
	[PasswordVerificationTokenExpirationDate] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_OAuthMembership]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_OAuthMembership](
	[Provider] [nvarchar](30) NOT NULL,
	[ProviderUserId] [nvarchar](100) NOT NULL,
	[UserId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Provider] ASC,
	[ProviderUserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_Roles]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_Roles](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](256) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
UNIQUE NONCLUSTERED 
(
	[RoleName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[webpages_UsersInRoles]    Script Date: 3/1/2013 9:12:36 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[webpages_UsersInRoles](
	[UserId] [int] NOT NULL,
	[RoleId] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
ALTER TABLE [dbo].[UserProfile] ADD  CONSTRAINT [DF__UserProfi__Admin__2B947552]  DEFAULT ((0)) FOR [Administrator]
GO
ALTER TABLE [dbo].[UserProfile] ADD  CONSTRAINT [DF__UserProfi__Coord__2C88998B]  DEFAULT ((1)) FOR [Coordinator]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [IsConfirmed]
GO
ALTER TABLE [dbo].[webpages_Membership] ADD  DEFAULT ((0)) FOR [PasswordFailuresSinceLastSuccess]
GO
ALTER TABLE [dbo].[EmergencyContact]  WITH CHECK ADD  CONSTRAINT [FK_EMERGENC_REFERENCE_VOLUNTEE] FOREIGN KEY([volunteerId])
REFERENCES [dbo].[Volunteer] ([volunteerId])
GO
ALTER TABLE [dbo].[EmergencyContact] CHECK CONSTRAINT [FK_EMERGENC_REFERENCE_VOLUNTEE]
GO
ALTER TABLE [dbo].[Location]  WITH CHECK ADD  CONSTRAINT [FK_LOCATION_REFERENCE_VOLUNTEE] FOREIGN KEY([volunteerId])
REFERENCES [dbo].[Volunteer] ([volunteerId])
GO
ALTER TABLE [dbo].[Location] CHECK CONSTRAINT [FK_LOCATION_REFERENCE_VOLUNTEE]
GO
ALTER TABLE [dbo].[ShiftRecord]  WITH CHECK ADD  CONSTRAINT [FK_SHIFTREC_RECORDS_VOLUNTEE] FOREIGN KEY([volunteerId])
REFERENCES [dbo].[Volunteer] ([volunteerId])
GO
ALTER TABLE [dbo].[ShiftRecord] CHECK CONSTRAINT [FK_SHIFTREC_RECORDS_VOLUNTEE]
GO
ALTER TABLE [dbo].[webpages_UsersInRoles]  WITH CHECK ADD  CONSTRAINT [fk_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[webpages_Roles] ([RoleId])
GO
ALTER TABLE [dbo].[webpages_UsersInRoles] CHECK CONSTRAINT [fk_RoleId]
GO
USE [master]
GO
